appdirs==1.4.0
certifi==2018.4.16
dj-database-url==0.4.2
Django==2.1.7
django-auth-kerberos==1.2.5
django-auth-ldap==1.7.0
django-crispy-forms==1.7.2
django-widget-tweaks==1.4.3
Markdown==2.6.9
mistune==0.8.3
packaging==16.8
Pillow==5.4.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
Pygments==2.2.0
pykerberos==1.2.1
pyparsing==2.1.10
python-decouple==3.1
python-ldap==3.1.0
pytz==2018.5
six==1.10.0
virtualenv==16.3.0
